#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#github-container {
  display: flex;
}

ul {
  list-style: none;
}
ul:hover{
  color: #ff7b29;

}
a{
  display: flex;
  margin-top: 20px;

}